In [268]:
from tweepy import OAuth2BearerHandler, API
from json import load
from pandas import DataFrame
from re import sub

In [267]:
try:
  env = load(open('env.json'))
except:
  env = {}

In [26]:
auth = OAuth2BearerHandler(env.get("bearer_token"))
api = API(auth)

In [256]:
def clean_tweet(tweet):
  regex = r'(^RT)|@\w+|[^0-9A-Za-z \t]|\w+:\/\/\S+'
  return ' '.join(sub(regex, ' ', str(tweet)).split()).lower()

In [263]:
def get_tweets(topic, count):
  topic = f'{topic} -filter:retweets'
  df = DataFrame(columns=['date', 'user', 'is_verified', 'tweet', 'likes', 'retweets', 'user_location'])
  for i, tweet in enumerate(api.search_tweets(topic, lang='en', count=count, tweet_mode='extended')):
    df.loc[i, 'date'] = tweet.created_at
    df.loc[i, 'user'] = tweet.user.name
    df.loc[i, 'is_verified'] = tweet.user.verified
    df.loc[i, 'tweet'] = tweet.full_text
    df.loc[i, 'cleaned_tweet'] = clean_tweet(tweet.full_text)
    df.loc[i, 'likes'] = tweet.favorite_count
    df.loc[i, 'retweets'] = tweet.retweet_count
    df.loc[i, 'user_location'] = tweet.user.location
  return df

In [264]:
result = get_tweets('Mumbai', 10)

In [265]:
result.head()

,date,user,is_verified,tweet,likes,retweets,user_location,cleaned_tweet
0,2022-04-12 12:18:40+00:00,Mehra Mediaâ„¢,False,Business Development (Sales) Internship in Mum...,0,0,Patiala,business development sales internship in mumba...
1,2022-04-12 12:18:38+00:00,Behnaaz Patel,False,@ola_supports Well this new I guess u have blo...,0,0,"Mumbai, India",well this new i guess u have blocked my mobile...
2,2022-04-12 12:18:34+00:00,Blessen Varghese,False,Or real time traffic in any Mumbai road. https...,0,0,Mumbai,or real time traffic in any mumbai road
3,2022-04-12 12:18:25+00:00,Ganesh Kamat_M.S.(USA)50yExp.Bldg.Structural A...,False,@tourismgoi @kishanreddybjp @KishanReddyOfc @s...,0,0,Mumbai,igatpuri garden mumbai 2hr lt shirdi ganaka mo...
4,2022-04-12 12:18:25+00:00,ğ‘ğ„ğğ„ğ‹â˜…ğğ¨ğ²ğœğ¨ğ­ğ­ ğğ¨ğ¥ğ¥ğ²ğ°ğ¨ğ¨ğ,False,Why were Bihar Police officials treated like c...,0,0,ğŸŒ,why were bihar police officials treated like c...

In [266]:
result.tail()

,date,user,is_verified,tweet,likes,retweets,user_location,cleaned_tweet
5,2022-04-12 12:18:17+00:00,Atharv Patil,False,@prattweets10 @sometimes_me_ Nagpur has close ...,0,0,"Pune, India",nagpur has close proximity to chhatisgarh and ...
6,2022-04-12 12:18:16+00:00,ğ‘ğ„ğğ„ğ‹â˜…ğğ¨ğ²ğœğ¨ğ­ğ­ ğğ¨ğ¥ğ¥ğ²ğ°ğ¨ğ¨ğ,False,Why did Mumbai police never file an FIR for Su...,0,0,ğŸŒ,why did mumbai police never file an fir for su...
7,2022-04-12 12:17:41+00:00,Tanvvii Jain,False,@ragiing_bull I might sound wrong but i have s...,0,0,"New Delhi, India",i might sound wrong but i have seen mumbai peo...
8,2022-04-12 12:17:26+00:00,Neerajâœ¨,False,Mumbai Indians is going to win their next matc...,1,1,600?,mumbai indians is going to win their next matc...
9,2022-04-12 12:17:25+00:00,Navi Mumbai Police,True,@pj777says Thank you for contacting Navi Mumba...,0,0,"Navi Mumbai, Maharashtra",thank you for contacting navi mumbai police we...